<section class="banner-two bg-banner-two overlay-white-slant text-overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Content Block -->
                <div class="block">
                    <h1>Business</h1>
                    <h2>Conference</h2>
                    <h3>2017</h3>
                    <h6>02-05 July 2017 California</h6>
                    <!-- Action Button -->
                    <a href="#" class="btn btn-main-md">get ticket now</a>
                </div>
            </div>
        </div>
    </div>
</section>