<section class="cta-ticket bg-ticket overlay-dark" id="ticket">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Get ticket info -->
                <div class="content-block">
                    <h2>Get Ticket <span class="alternate">Now!</span></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmtempor incidi</p>
                    <a href="" class="btn btn-main-md">Buy ticket</a>
                </div>
            </div>
        </div>
    </div>
    <div class="image-block"><img src="images/speakers/speaker-ticket.png" alt="" class="img-fluid"></div>
</section>