<section class="ticket-feature">
    <div class="container-fluid m-0 p-0">
        <div class="row p-0 m-0">
            <div class="col-lg-7 p-0 m-0">
                <div class="block bg-timer overlay-dark text-center">
                    <div class="section-title white m-0">
                        <h3>Limited Audience <span class="alternate">Seats</span></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm</p>
                    </div>
                    <!-- Coundown Timer -->
                    <div class="timer"></div>
                    <a href="#" class="btn btn-main-md">Buy Ticket</a>
                </div>
            </div>
            <div class="col-lg-5 p-0">
                <div class="block-2">
                    {{ partial "stats.html" . }}
                </div>
            </div>
        </div>
    </div>
</section>