<section class="cta-ticket bg-ticket overlay-dark" id="ticket">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Get ticket info -->
                <div class="content-block">
                    <h2>{{ .Site.Params.Ticket.title | default "Limited audience seats" }}</h2>
                    <p>{{ .Site.Params.Ticket.description | default "Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm" }}</p>
                    <a href="" class="btn btn-main-md">{{ .Site.Params.Ticket.action | default "Buy Ticket" }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="image-block"><img src="/images/speakers/speaker-ticket.png" alt="" class="img-fluid"></div>
</section>