<section class="section faq" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3>{{ .Site.Params.Faq.title | default "Frequently Asked Questions" }}</h3>
                    <p>{{ .Site.Params.Faq.description | default "Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt ut labore dolore magna" }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="accordion-block">
                    <div id="accordion">
                        {{ range (where .Site.Data.faq "Side" "=" "left") }}
                        <!-- Collapse -->
                        <div class="card">
                            <!-- Collapse Header -->
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseOne">
                                        <span class="fa fa-plus-circle"></span>{{ .question }}
                                    </a>
                                </h5>
                            </div>
                            <!-- Collapse Body -->
                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    {{ .answer }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="accordion-block">
                    <div id="accordionTwo">
                        {{ range (where .Site.Data.faq "Side" "=" "right") }}
                        <!-- Collapse -->
                        <div class="card">
                            <!-- Collapse Header -->
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseOne">
                                        <span class="fa fa-plus-circle"></span>{{ .question }}
                                    </a>
                                </h5>
                            </div>
                            <!-- Collapse Body -->
                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    {{ .answer }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>