<footer class="footer-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <div class="footer-logo">
                        <a href="{{ .Site.Params.Footer.companyLogoRedirectUrl }}" target="_blank">
                            <img src="{{ .Site.Params.Footer.companyLogo }}" alt="logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="row">
                        {{ .Site.Params.Footer.companyDescription }}
                    </div>
                    <ul class="social-links-footer list-inline">
                        {{ range .Site.Params.Footer.social }}
                            <li class="list-inline-item">
                                <a href="{{ .url }}"><i class="{{ .icon }}"></i></a>
                            </li>
                        {{ end }}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- Subfooter -->
<footer class="subfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="copyright-text">
                    <p>
                        &copy;&nbsp;{{ now.Year }} {{ .Site.Params.Footer.footerHtml | markdownify }}
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <a href="#" class="to-top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</footer>


<!-- JAVASCRIPTS -->
<!-- jQuey -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- Shuffle -->
<script src="plugins/shuffle/shuffle.min.js"></script>
<!-- Magnific Popup -->
<script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Slick Carousel -->
<script src="plugins/slick/slick.min.js"></script>
<!-- SyoTimer -->
<script src="plugins/syotimer/jquery.syotimer.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.Map.key }}"></script>
<script src="plugins/google-map/gmap.js"></script>
<!-- Custom Script -->
<script src="js/script.js"></script>


{{ if .Site.Params.EventDate }}
    {{ $eventDate := time .Site.Params.EventDate "Asia/Kolkata" }}
    <script>
        $('.timer').syotimer({
            year: {{ $eventDate.Year }},
            month: {{ printf "%d" $eventDate.Month }},
            day: {{ $eventDate.Day }},
            hour: {{ $eventDate.Hour }},
            minute: {{ $eventDate.Minute }}
        });
    </script>
{{ else }}
    <script>
        $('.timer').syotimer({
            date: new Date(2015, 0, 1),
            periodUnit: "s",
            periodic: true,
            periodInterval: 1,
        })
    </script>
{{ end }}
