{{ if .Site.Data.gallery }}
    <section class="gallery-full section pb-0" id="gallery">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3>Eventre <span class="alternate">Gallery</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, autem.</p>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                {{ range .Site.Data.gallery }}
                <!-- Gallery Image -->
                <div class="col-lg-3 col-md-4">
                    <div class="image">
                        <img src="{{ .preview }}" alt="gallery-image" class="img-fluid">
                        <div class="primary-overlay">
                            <a class="image-popup" data-effect="mfp-with-zoom" href="{{ .popup }}"><i
                                    class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}