<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
    <div class="container-fluid p-0">
        <!-- logo -->
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="logo">
        </a>
        {{ partial "navigation.html" . }}
        <a href="{{ .Site.Params.Navigation.ctaUrl | default "/contact/"}}" class="ticket">
            <img src="/images/icon/ticket.png" alt="ticket">
            <span>{{ .Site.Params.Navigation.cta }}</span>
        </a>
    </div>
</nav>