<script type="text/javascript">
    function exhibitorCheck() {
        if (document.getElementById('mce-PRTCPNTTYP-0').checked) {
            document.getElementById('exhibitorStall').style.display = 'inline';
            document.getElementById('exhibitorTerms').style.display = 'inline';
            document.getElementById('businessMatchmaking').style.display = 'none';
        }
        else {
            document.getElementById('exhibitorStall').style.display = 'none';
            document.getElementById('exhibitorTerms').style.display = 'none';
            document.getElementById('businessMatchmaking').style.display = 'inline';
        }
    }

    function matchMeWith() {
        if (document.getElementById('mce-BIZMATCH-0').checked) {
            document.getElementById('matchMeWith').style.display = 'inline';
        }
        else {
            document.getElementById('matchMeWith').style.display = 'none';
        }
    }
</script>

<!-- Begin Mailchimp Signup Form -->
<div class="mailchimp-form" id="mc_embed_signup">
    <form action="{{ .Site.Params.MailchimpUrl }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <h2>Participate</h2>
            <div>
                <p>I wish to participate as:</p>
                <ul>
                    <li><input type="radio" value="Exhibitor" name="PRTCPNTTYP" id="mce-PRTCPNTTYP-0" onclick="javascript:exhibitorCheck();"><label for="mce-PRTCPNTTYP-0">An Exhibitor</label></li>
                    <li><input type="radio" value="Visitor" name="PRTCPNTTYP" id="mce-PRTCPNTTYP-1" onclick="javascript:exhibitorCheck();" checked="checked"><label for="mce-PRTCPNTTYP-1">A Visitor</label></li>
                </ul>
            </div>

            <div >
                <label for="mce-FNAME">Full Name</label>
                <input class="form-control white" type="text" value="" placeholder="Ashok Kumar" name="FNAME" id="mce-FNAME" required>
            </div>
            
            <div >
                <label for="mce-EMAIL">Email Address</label>
                <input class="form-control white" type="email" value="" placeholder="ashok.kumar@contoso.com" name="EMAIL" id="mce-EMAIL" required>
            </div>
            
            <div >
                <label for="mce-PHONE">Phone Number</label>
                <input class="form-control white" type="text" name="PHONE" placeholder="+91 98450 83748" value="" id="mce-PHONE" required>
            </div>

            <div >
                <label for="mce-COMPANY">Company Name</label>
                <input class="form-control white" type="text" value="" placeholder="Contoso Ltd" name="COMPANY" id="mce-COMPANY" required>
            </div>

            <div >
                <label for="mce-DESIGNAT">Designation</label>
                <input class="form-control white" type="text" value="" placeholder="Product Manager" name="DESIGNAT" id="mce-DESIGNAT">
            </div>

            <div >
                <label for="mce-WEB">Website</label>
                <input class="form-control white" type="text" value="" placeholder="www.contoso.com" name="WEB" id="mce-WEB">
            </div>

            <div style="display: none;">
                <label for="mce-REFERRER">Referrer</label>
                <input class="form-control white" type="text" value="{{ .Site.Title }}" name="REFERRER" id="mce-REFERRER">
            </div>

            <div id="businessMatchmaking" style="display: inline;">
                <div>
                    <p>Are you interested in Business Matchmaking?</p>
                    <ul>
                        <li>
                            <input type="radio" value="Yes" name="BIZMATCH" id="mce-BIZMATCH-0" onclick="javascript:matchMeWith()" checked="checked">
                            <label for="mce-BIZMATCH-0">Yes</label>
                        </li>
                        <li>
                            <input type="radio" value="No" name="BIZMATCH" id="mce-BIZMATCH-1" onclick="javascript:matchMeWith()">
                            <label for="mce-BIZMATCH-1">No</label>
                        </li>
                    </ul>
                </div>
    
                <div id="matchMeWith" style="display: inline;">
                    <p>I would like to interact with the following</p>
                    <ul>
                        <li>
                            <input type="checkbox" value="1" name="group[31752][1]" id="mce-group[31752]-31752-0">
                            <label for="mce-group[31752]-31752-0">Mechanical Power Transmission</label>
                        </li>
                        <li>
                            <input type="checkbox" value="2" name="group[31752][2]" id="mce-group[31752]-31752-1">
                            <label for="mce-group[31752]-31752-1">Electrical Power Transmission</label>
                        </li>
                        <li>
                            <input type="checkbox" value="4" name="group[31752][4]" id="mce-group[31752]-31752-2">
                            <label for="mce-group[31752]-31752-2">Linear Motion Drives</label>
                        </li>
                        <li>
                            <input type="checkbox" value="8" name="group[31752][8]" id="mce-group[31752]-31752-3">
                            <label for="mce-group[31752]-31752-3">Fluid Power and Systems</label>
                        </li>
                        <li>
                            <input type="checkbox" value="16" name="group[31752][16]" id="mce-group[31752]-31752-4">
                            <label for="mce-group[31752]-31752-4">IoT and Smart Technology</label>
                        </li>
                    </ul>
                </div>
            </div>
            

            <div id="exhibitorStall" style="display: none;">
                <div>
                    <p>Stall booking details</p>
                    <ul>
                        <li>
                            <input type="radio" value="Shell Scheme (₹11,800/m²)" name="STALL" id="mce-STALL-0">
                            <label for="mce-STALL-0">Shell Scheme (₹11,800/m² or $350.00/m² + 18% GST)</label>
                        </li>
                        <li>
                            <input type="radio" value="Bare Scheme (₹11,200/m²)" name="STALL" id="mce-STALL-1">
                            <label for="mce-STALL-1">Bare Scheme (₹11,200/m² or $325.00/m² + 18% GST)</label>
                        </li>
                    </ul>
                </div>
            
                <div>
                    <label for="mce-SPACE">Space Required (in m²) </label>
                    <select class="form-control white" name="SPACE" id="mce-SPACE">
                        <option value="9 m²">9 m²</option>
                        <option value="12 m²">12 m²</option>
                        <option value="24 m²">24 m²</option>
                        <option value="36 m²">36 m²</option>
                    </select>
                </div>
            </div>
            
            <div id="mce-responses" >
                <div id="mce-error-response" style="display:none"></div>
                <div id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_80ee9196e92bb334cfe5bc7a1_06258b235d" tabindex="-1" value=""></div>
            <div ><input class="btn btn-main-md" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" ></div>
        </div>
    </form>
</div>
<!--End mc_embed_signup-->
<hr />
<div id="exhibitorTerms" style="display: none;">
    <p>You may choose to <a href="https://content.iptex-grindex.com/documents/2022/space-booking-form.pdf">click here to download the space booking form</a>, fill it up and send it to us on the address mentioned in the form.</p>
    <hr />
    <p>IMPORTANT: As per the guidelines stipulated by India Trade Promotion Organization (ITPO), temporary import of exhibits under ATA Carnet will be allowed to the exhibitors who settle the participation charges in foreign currency. In the event of an overseas Exhibitor making payment in Indian Rupees through their Indian Office, they will have to import the exhibits by paying the Customs duly applicable.</p>
    <p><strong>Overseas Companies</strong>:</p>
    <p>Payment by Bank Transfer: Kotak Mahindra Bank, A/c No.: 209011052515. Indiranagar Branch, RTGS/NEFT: KKBK0008068, MICR: 560485086, Swift Code: KKBKINBBCPC. Beneficiary Name: Virgo Communications &amp; Exhibitions Pvt Ltd. Bank Address: #776, 100 Feet Road, HAL 2nd Stage, Indiranagar, Bangalore, India - 560008</p>
    <p><strong>Indian Companies</strong>:</p>
    <p>Payment by Bank Transfer: HDFC Bank Ltd., Golden Tower, Airport Road, Bangalore Br., Branch: Old Airport Road, Beneficiary Name: Virgo Communications &amp; Exhibitions Pvt Ltd., A/c No.: 00752320001343, RTGS/NEFT: HDFC0000075, MICR: 560240005</p>
    <p>Payment by DD/Cheque: Indian exhibitors making payments by DD/Cheque should make the same in favour of “Virgo Communications &amp; Exhibitions (P) Ltd.”, Payable at Bangalore.</p>
    <p>By clicking submit, you have agreed to have read the Rules and Regulations relating to the administration of the exhibition given hereunder and agree to abide by them.</p>
    <p>RIGHT: The Organizers reserve all rights in connection with International Power Transmission Expo (IPTEX 2022) and GRINDEX 2022.</p>
    <p>TERMS OF REFERENCE: In these Rules and Regulations, the term “Exhibitor” shall include the management team, all employees, staff and agents of any company, partnership firm, or individual to whom space has been allocated for the purpose of participating. The term “Exhibition” shall mean the exhibition known as International Power Transmission Expo (IPTEX 2022) and GRINDEX 2022.</p>
    <p>THE ORGANIZERS shall mean “Virgo Communications &amp; Exhibitions (P) Ltd.” No.250, Virgo House, 7th Main, Amarjyoti Layout, Domlur Extension, Bangalore - 560 071, India.</p>
    <p>ALLOTMENT OF BOOTHS: (A) Booth (s) will be allocated on a first-com-first-serve basis. (B) Allocation of booth(s) will be made at the slots discretion of the Organizers. (C) The booth(s) allocated will be used solely by the exhibitor for display of goods mentioned. In their application form. Subletting of booth(s) or displaying goods not listed out in the original application will not be allowed.</p>
    <p>NO EXHIBITORS WILL BE ALLOWED TO DISPLAY EXHIBITS OF FOREIGN ORIGIN UNLESS THE PAYMENT FOR THE PARTICIPATION IS MADE IN FOREIGN CURRENCY.</p>
    <p>BOOTH CONSTRUCTION: The booths under shell scheme will be erected by the contractor appointed by the Organizers. Exhibitors are permitted to make no structural alteration or alteration to the size or position of the booth(s) without prior written approval from the organizers.</p>
    <p>Exhibitors may carry out additional work or interior decoration or fittings in their booths through a contractor of their of their choice and at their expenses. However, before doing so, organizers are to be intimated in writing the names and contact details of such contractors and work to be carried out and obtain a “No Objection Letter” from the organizers. Organizers reserve the right to allow or disallow any such work at their discretion.</p>
    <p>Exhibitors who have opted for Bare Space are liable to submit to the organizers for approval a drawing of the stand showing plan and elevations and details of construction materials, details of contractor etc. The position of all display features must be clearly indicated. No structure which obstructs the visibility of the neighboring booths or projecting to the gangway is permissible.</p>
    <p>OCCUPATION OF THE BOOTHS: Exhibitors are advised to take possession of their booths by the time stipulated by the organizers and complete setting up all the exhibits in the booth at least 2 hours before the exhibition opens. Should and exhibitor fail to occupy the stand allocated to him by the stipulated time, organizers reserve the right to deal with the booth unoccupied as they deem fit.</p>
    <p>EXHIBITS: Exhibitors are allowed to display the exhibits listed out in the original exhibition space application form. Any addition/deletion of exhibits from the aforesaid list must be intimated to the organizers in writing beforehand.</p>
    <p>Substances of dangerous or inflammable nature, or machinery generating noise pollution, or obscene pictures/sculptors will not be permitted in any part of the exhibition area. Organizers reserves all rights to allow or disallow any display items without assigning any reasons.</p>
    <p>SAFETY/SECURITY NORMS: Organizers will arrange for the general security of the exhibition area. However, it is the responsibility of the exhibitors to take care of the exhibits and belongings in their booths for the entire duration of the exhibition, including the move-in and move-out periods. Exhibitors are recommended to arrange for adequate insurance coverage to their belongings in their booths.</p>
    <p>Exhibitors are advised to take maximum care to ensure that no damage is done to the exhibits/belongings of the neighboring booths or inflict injury to any person during the constructions/dismantling of the booths as also during the open hours of the exhibition. In the event of an exhibitor damaging the exhibit of a neigh boring booth, he will be held responsible for compensating for the loss incurred. Under no circumstances organizers will be accountable for any such loss/damages of/to the things or personal injury.</p>
    <p>CANCELLATION OF CONTRACT: No cancellation of contract for exhibiting or diminution of exhibition space is allowed once the Space Application Form is signed by an exhibitor. In such cases, no refund of payment will be made.</p>
    <p>CANCELLATION POLICY: No refund of advance paid will be made after singing the space application form and advance payment of 50% received. Any cancellation on or after September 2021, will attract complete payment of the participation charges due. In case of non-compliance, legal action will be initiated.</p>
    <p>DEFAULT ON PAYMENTS: The organizers reserve the right to cancel any reservation of space in the event of an exhibitor not having paid the dues of rental charges stipulated on the rate card.</p>
    <p>ELECTRICAL INSTALLATION: All on-site electrical installations must be carried out by the officially appointed electrical contractor.</p>
    <p>FAILURE OF SERVICE: The organizers will make all the efforts to ensure that supply of items/services being provided by the official contractors are of good quality, but as the supply of these items/services are not within the control of the contractors, neither they nor the organizers shall incur any liability to the exhibitors for the shortfall or non-availability of such services and in this event, no refund or concessions will be allowed to the exhibitors.</p>
    <p>CANCELLATION/POSTPONEMENT/ABANDONMENT OF THE EXHIBITION: In the event of the exhibition being abandoned because of unanticipated reasons such as natural calamities, riots and events beyond human control, a percentage of the amount paid by the exhibitor will be refunded after evaluating all costs including the incidental cost incurred by the organiser. In case of any cancellation/postponement of event due to covid-19 related govt. restriction on mass gatherings, 100% refund will be made to participating exhibitors.</p>
    <p>ALTERATION OF TERMS &amp; CONDITIONS: Organizers reserve the right to alter/add/delete any terms and conditions whenever they deem it necessary and the same will be applicable to all the exhibitors.</p>
    <p>JURISDICTION: Any dispute between the organizers and the exhibitors is subject to the jurisdiction of the courts of Bangalore only.</p>
</div>
