<section class="news section" id="posts">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3>Eventre <span class="alternate">News</span></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore
                        dolore</p>
                </div>
            </div>
        </div>
        <div class="row">
            {{ range first 3 (where .Site.RegularPages "Section" "=" "posts") }}
                <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
                    {{ partial "post-card.html" . }}
                </div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-12">
                <a href="/posts/" class="btn btn-main-md">Read more</a>
            </div>
        </div>
    </div>
</section>