<section class="section pricing" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3>{{ .Site.Params.Pricing.title | default "Pricing" }}</h3>
                    <p>{{ .Site.Params.Pricing.description | default "Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore" }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            {{ range .Site.Data.pricing }}
            <div class="col-lg-4 col-md-6">
                <!-- Pricing Item -->
                <div class="pricing-item {{ if .popular }}featured{{ end }}">
                    <div class="pricing-heading">
                        <!-- Title -->
                        <div class="title">
                            <h6>{{ .name }}</h6>
                        </div>
                        <!-- Price -->
                        <div class="price">
                            <h2><span>{{ .currency }}</span>{{ .price }}</h2>
                            <p>/{{ .per | humanize }}</p>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <!-- Feature List -->
                        <ul class="feature-list m-0 p-0">
                            {{ range .features }}
                            <li>
                                <p><span class="fa fa-check-circle available"></span>{{ . }}</p>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                    <div class="pricing-footer text-center">
                        <a href="{{ .actionUrl }}" class="btn btn-transparent-md">{{ .action }}</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>