<div class="block">
    <div class="title text-left">
        <h3>{{ .Site.Params.Registration.title | default "Register for the event" }}</h3>
        <p>{{ .Site.Params.Registration.description | default "Lorem ipsum dolor sit amet, consectetur adipisicing elit" }}</p>
    </div>
    <form action="#" class="row">
        <div class="col-md-6">
            <input type="text" class="form-control main" placeholder="Your Name" required>
        </div>
        <div class="col-md-6">
            <input type="email" class="form-control main" placeholder="Email" required>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control main" placeholder="Phone" required>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <select class="form-control main" id="select-ticket" required>
                    <option>Ticket Type</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-white-md">Register Now</button>
        </div>
    </form>
</div>