<div class="block">
    <div class="title text-left">
        <h3>{{ .Site.Params.Registration.title | default "Register for the event" }}</h3>
        <p>{{ .Site.Params.Registration.description | default "Lorem ipsum dolor sit amet, consectetur adipisicing elit" }}</p>
    </div>
    <form action="#" class="row">
        <div class="col-md-6">
            <input type="text" class="form-control main" placeholder="Your Name">
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control main" placeholder="Company">
        </div>
        <div class="col-md-6">
            <input type="email" class="form-control main" placeholder="Email">
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control main" placeholder="Phone" required>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-white-md">{{ .Site.Params.Registration.cta }}</button>
        </div>
    </form>
</div>