<section class="speakers-full-width" id="speakers">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <!-- Speaker Slider -->
                <div class="speaker-slider">
                    {{ range .Site.Data.speakers }}
                    <div class="speaker-image">
                        <img src="{{ .image }}" alt="speaker" class="img-fluid">
                        <div class="primary-overlay text-center">
                            <h5>{{ .name | upper }}</h5>
                            <p>{{ .designation }}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="https://facebook.com/{{ .facebook }}"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="https://twitter.com/{{ .twitter }}"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="https://linkedin.com/in/{{ .linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>