<section class="sponsors section bg-sponsors overlay-white" id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3>{{ .Site.Params.Sponsors.title | default "Our sponsors" }}</h3>
                    <p>{{ .Site.Params.Sponsors.description | default "Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore dolore" }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Title -->
                <div class="sponsor-title text-center">
                    <h5>Platinum Sponsors</h5>
                </div>
                <div class="block text-center">
                    <!-- Sponsors image list -->
                    <ul class="list-inline sponsors-list">
                        {{ range .Site.Data.sponsors }}
                        <li class="list-inline-item">
                            <div class="image-block text-center">
                                <a href="{{ .url }}">
                                    <img src="{{ .logo }}" alt="sponsors-logo" class="img-fluid">
                                </a>
                            </div>
                        </li>   
                        {{ end }}
                    </ul>
                </div>
                <div class="sponsor-btn text-center">
                    <a href="#" class="btn btn-main-md">Become a sponsor</a>
                </div>
            </div>
        </div>
    </div>
</section>