{{ partial "head.html" . }}
{{ partial "navigation.html" . }}
{{ partial "title.html" . }}

<section class="section error">
	<div class="container">
		<div class="row">
			<div class="col-md-6 m-auto">
				<div class="block text-center">
					<img src="images/404.png" class="img-fluid" alt="404">
					<h3>Oops!... <span>Page Not Found.</span></h3>
					<a href="index.html" class="btn btn-main-md">Go to home</a>
				</div>
			</div>
		</div>
	</div>
</section>

{{ partial "cta-subscribe" . }}
{{ partial "map.html" . }}
{{ partial "footer.html" . }}