{{ define "main" }}
	<main>
		{{ if eq .Site.Params.variant "alternate" }}
			{{ partial "banner-alt.html" . }}
			{{ partial "about-alt.html" . }}
			{{ partial "speakers-alt.html" . }}
			{{ partial "schedule-alt.html" . }}
			{{ partial "cta-ticket-alt.html" . }}
			{{ partial "news-posts.html" . }}
			{{ partial "gallery.html" . }}
			{{ partial "pricing.html" . }}
			{{ partial "map.html" . }}
		{{ else }}
			{{ partial "banner.html" . }}
			{{ partial "about.html" . }}
			{{ partial "youtube.html" . }}
			{{ partial "speakers.html" . }}
			{{ partial "schedule.html" . }}
			{{ partial "registration-default.html" . }}
			{{ partial "pricing.html" . }}
			{{ partial "cta-ticket.html" . }}
			{{ partial "testimonials.html" . }}
			{{ partial "sponsors.html" . }}
			{{ partial "news-posts.html" . }}
			{{ partial "cta-subscribe.html" . }}
			{{ partial "map.html" . }}
		{{ end }}
	</main>
{{ end }}
