{{ define "main" }}
	<main>
		{{ if eq .Site.Params.variant "alternate" }}
			{{ partial "banner-alt.html" . }}
			{{ partial "about-alt.html" . }}
			{{ partial "speakers-alt.html" . }}
			{{ partial "schedule-alt.html" . }}
			{{ partial "cta-ticket-alt.html" . }}
			{{ partial "news-posts.html" . }}
			{{ partial "gallery.html" . }}
			{{ partial "pricing.html" . }}
			{{ partial "google-map.html" . }}
		{{ else }}
			{{ partial "banner.html" . }}
			{{ partial "about.html" . }}
			{{ partial "speakers.html" . }}
			{{ partial "schedule.html" . }}
			<section class="registration" id="registration">
				<div class="container-fuild p-0">
					<div class="row">
						<div class="col-lg-6 col-md-12 p-0">
							<div class="service-block bg-service overlay-primary text-center">
								{{ partial "stats.html" . }}
							</div>
						</div>
						<div class="col-lg-6 col-md-12 p-0">
							<div class="registration-block bg-registration overlay-dark">
								{{ partial "registration.html" . }}
							</div>
						</div>
					</div>
				</div>
			</section>
			{{ partial "pricing.html" . }}
			{{ partial "cta-ticket.html" . }}
			{{ partial "testimonials.html" . }}
			{{ partial "sponsors.html" . }}
			{{ partial "news-posts.html" . }}
			{{ partial "cta-subscribe.html" . }}
			{{ partial "google-map.html" . }}
		{{ end }}
	</main>
{{ end }}
